In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [5]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder()
geo_encoder = onehot_encoder.fit_transform(df[['Geography']]).toarray()
df_geo = pd.DataFrame(geo_encoder, columns=onehot_encoder.get_feature_names_out(['Geography']))
df = pd.concat([df.drop('Geography', axis=1), df_geo], axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [6]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

In [7]:
with open('label_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder, file)

In [8]:
X = df.drop('Exited', axis=1)
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [10]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [12]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

2025-06-02 16:53:19.917224: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M2 Pro
2025-06-02 16:53:19.917250: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2025-06-02 16:53:19.917256: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2025-06-02 16:53:19.917284: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-06-02 16:53:19.917296: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [15]:
import datetime
log_dir = "log/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
early_stopping_callback = EarlyStopping(
    monitor='val_loss',
    patience=10,
    restore_best_weights=True
)

In [17]:
history = model.fit(
    X_train, y_train,
    epochs=100,
    validation_split=0.2,
    callbacks=[tensorboard_callback, early_stopping_callback]
)

Epoch 1/100
  1/200 [..............................] - ETA: 1:00 - loss: 0.7270 - accuracy: 0.5000

2025-06-02 16:53:20.320072: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

200/200 [==============================] - 1s 6ms/step - loss: 0.4975 - accuracy: 0.7648 - val_loss: 0.4213 - val_accuracy: 0.8175
Epoch 2/100
200/200 [==============================] - 1s 5ms/step - loss: 0.4418 - accuracy: 0.8045 - val_loss: 0.4224 - val_accuracy: 0.8194
Epoch 3/100
200/200 [==============================] - 1s 5ms/step - loss: 0.4423 - accuracy: 0.8019 - val_loss: 0.4212 - val_accuracy: 0.8163
Epoch 4/100
200/200 [==============================] - 1s 5ms/step - loss: 0.4472 - accuracy: 0.8064 - val_loss: 0.4347 - val_accuracy: 0.8156
Epoch 5/100
200/200 [==============================] - 1s 5ms/step - loss: 0.4545 - accuracy: 0.8011 - val_loss: 0.4305 - val_accuracy: 0.8119
Epoch 6/100
200/200 [==============================] - 1s 4ms/step - loss: 0.4592 - accuracy: 0.8025 - val_loss: 0.4385 - val_accuracy: 0.8188
Epoch 7/100
200/200 [==============================] - 1s 5ms/step - loss: 0.4833 - accuracy: 0.8036 - val_loss: 0.4995 - val_accuracy: 0.7956
Epoch 8/100
200/200 [==============================] - 1s 5ms/step - loss: 0.4970 - accuracy: 0.8005 - val_loss: 0.5048 - val_accuracy: 0.8138
Epoch 9/100
200/200 [==============================] - 1s 4ms/step - loss: 0.4842 - accuracy: 0.7989 - val_loss: 0.4384 - val_accuracy: 0.8131
Epoch 10/100
200/200 [==============================] - 1s 5ms/step - loss: 0.4860 - accuracy: 0.7998 - val_loss: 0.4559 - val_accuracy: 0.8075
Epoch 11/100
200/200 [==============================] - 1s 5ms/step - loss: 0.4964 - accuracy: 0.7950 - val_loss: 0.4417 - val_accuracy: 0.8119
Epoch 12/100
200/200 [==============================] - 1s 5ms/step - loss: 0.5088 - accuracy: 0.7986 - val_loss: 0.4547 - val_accuracy: 0.8081
Epoch 13/100
200/200 [==============================] - 1s 4ms/step - loss: 0.5189 - accuracy: 0.7959 - val_loss: 0.4820 - val_accuracy: 0.7906

In [20]:
model.save('model.h5')

/Users/hitheshalle/Downloads/annclassification/venv310/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [22]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [23]:
%tensorboard --logdir log/fit

Reusing TensorBoard on port 6006 (pid 90267), started 0:04:39 ago. (Use '!kill 90267' to kill it.)